@{
    ViewBag.Title = "Home";
}

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/html" id="LocationListViewTemplate">
    <div class="basicInfo">
        <h3><%= Name%></h3>
        <label><%= State%></h1>
    </div>
     <div class="distanceInfo">
        <%= DistanceFromYou%>mi
    
        <div class="mapCanvas">

        </div>
    </div>

</script>


<script type="text/html" id="LocationDetailsTemplate">
    <h1><%= Name%> </h1>
    <div class="LocationDetails"> 
        <%= State%>
        <p><%= Details%> </p>
    </div>
   
</script>

<script type="text/html" id="SearchByStateTemplate">
    
    <div style="float:left;width:48%;">
        <label>Search by state:</label> 
        <br />
        <select id="searchState">
            <option value="">Select State</option>
            <option value="VT">Vermont</option>
            <option value="NH">New Hampshire</option>
        </select>
    </div>
    <div style="float:right;width:48%;">
        <label>Or by distance from your zip code: </label>
        <br />
        <select id="searchMiles">
            <option>Select Distance</option>
            <option value="50">50 Miles</option>
            <option value="100">100 Miles</option>
            <option value="150">150 Miles</option>
            <option value="200">200 Miles</option>
            <option value="300">300 Miles</option>
        </select>
        <label> from</label>
        <input type="text" id="searchZip" placeholder="Zip Code"/>
        <br />
        <button id="searchDistanceBtn">Search</button>
         <label class="field-validation-error" id="searchDistError" style="display:none;">Please enter zip code and distance.</label>
     </div>
    <button id="clearSearch">Clear Search</button>
</script>

<script type="text/html" id="AllLocationsTemplate">
    <ul id="allLocationsList"></ul>
</script>

<div id="contentHead"></div>
<div id="contentBody"></div>

<a href="/AddLocation/Index"><input type="button" value="Add Your Own Location" /></a>
<script src="~/Scripts/Locations.js" type="text/javascript"></script>
