@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<h4>Tasks</h4>
<p>
    <a href="/Admin/CalculateAverageTask">Average Rating Task</a>
</p>
<p>
    Get items that need to be approved... each part of the admin page can be a slide down 
</p>

<p>
    <a href="/Admin/Unapproved">Items needing approval</a>
</p>
<p>
    <a href="/Admin/UnapprovedTracks">Tracks needing approval</a>
</p>

<h3>Flagged comments</h3>

<h3>Tracks needing approval</h3>

<h3> items missing info images, description, url etc</h3>
