@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

Get items that need to be approved... each part of the admin page can be a slide down 

<h3>Items needing approval</h3>

<h3>Flagged comments</h3>

<h3>Tracks needing approval</h3>

<h3> items missing info images, description, url etc</h3>
