@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Category or Brand</h2>

<div class="well">
    <div>
       <a href="/ProductReview">Choose Category</a>
    </div>
</div>
<div class="row">
    <div class="well span2">
        left nav
    </div>

    <div class="well  span8">
        <h4>Brands</h4>

        <h4>Category</h4>
    </div>
</div>
