<script type="text/html" id="paginationListTemplate">
        <ul id="paginationList">
        
        </ul>
</script>

<div class="text-center">
    <div class="pagination" ></div>
</div>

<script src="~/Scripts/Paging.js"></script>
