@model MappingSearch.Models.ViewModels.Reviews.ReviewProductViewModel


@{
    ViewBag.Title = @Model.ProductInfo.ProductTitle+" Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.ProductInfo.VisibleToUser)
{
    if (Model.ProductInfo.IsGear)
    {
        @Html.Partial("~/Views/Review/GearReviewHead.cshtml", Model);
    }
    else if(Model.ProductInfo.IsMotorcycle)
    {
        @Html.Partial("~/Views/Review/MotorcycleReviewHead.cshtml", Model);
    }
    <div id="reviewForm" class="modal hide fade">
    <div class="modal-header">
        
        <button data-dismiss="modal" class="close" type="button">&times;</button>
        <h2 class="">Your Review</h2>
        <p style="display:none;" class="serverError">There has been an error on the server please try again later. Sorry for the inconvenience.</p>
    </div>
    <div class="modal-body">
       
            <input type="hidden" value="@Model.ProductInfo.ProductId" name="productId" id="productId" />
            <div class="">
                <label for="durationQuantity">Duration Of Use</label>
                <select name="durationQuantity" id="durationQuantity" class="span2">
                    <option value="Select">Select</option>
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    <option >5</option>
                    <option >6</option>
                </select>
                <select name="durationUnit" id="durationUnit" class="span2">
                    <option value="Select">Select</option>
                    <option >Day(s)</option>
                    <option >Week(s)</option>
                    <option >Month(s)</option>
                    <option >Year(s)</option>
                </select>
                 <label class="text-error" style="display:none;" id="lenghtError">Please how long you've used this product.</label>
            </div>
            <div class="">
                <label for="reviewArea">Reveiw:</label>
                 <label class="text-error" style="display:none;" id="reviewTextError">Please enter a review.</label>
                <textarea id="reviewArea" name="reviewArea" class="span3" rows="5"></textarea>
            </div>
            <div class="">
                <label for="overallRating">Overall Rating:</label>
                <label class="radio inline">1<input type="radio" name="overallRating" value="1" /></label>
                <label class="radio inline">2<input type="radio" name="overallRating" value="2" /></label>
                <label class="radio inline">3<input type="radio" name="overallRating" value="3" /></label>
                <label class="radio inline">4<input type="radio" name="overallRating" value="4" /></label>
                <label class="radio inline">5<input type="radio" name="overallRating" value="5" /></label>
            </div>
            <label class="text-error" id="ratingError" style="display:none;">Please give an overall rating</label>
    </div>
    <div class="modal-footer"> 
        <input type="button" class="btn primary" value="Submit Review" id="submitReviewBtn" />
    </div>
</div>
<div class="row" >
    <div id="reviewsContainer"></div>
    <div style="display:none" id="noReviewsFound" class="alert alert-information">
        <p>Be the first to review this product.</p>
    </div>
</div>

<script type="text/html" id="individualRewviewTemplate">
     <div class="container">
            <div class="signature row">
                <h5>Posted by : <%= User%></h5>
                <span><%= UserMotorcycle%></span>
            </div>
            <div class="row">
                <span>Used product for : <%= LengthOfUse%></span>
                <div class="offset1"></div>
                <%= Rating%>
            </div>
            <div class="row">
                <div class="well">
                    <p>
                        <%= ReviewText%>
                    </p>
                </div>
            </div>
        </div>
</script>

}else
{
    <h1>The product you are looking for could not be found.</h1>
} <script src="~/Scripts/Reviews.js"></script>