@{
    ViewBag.Title = "Select Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>What would you like to view?</h2>

<div class="row">
     
    <a href="@MappingSearch.Constants.PathConstants.Pages.GearCategoryPath">
        <div class="span4 well">
           Gear
        </div>
    </a>
    <a href="@MappingSearch.Constants.PathConstants.Pages.MotrocycleCategoryPath">  
        <div class="span4 well">
                Motorcycles
        </div>
    </a>
</div>

<div class="row">
    <a href="@MappingSearch.Constants.PathConstants.Pages.PartsAccessoriesPath">
        <div class="span4 well">
            Parts and Accessories
        </div>
    </a>
     <a href="@MappingSearch.Constants.PathConstants.Pages.TrackCategoryPath">
        <div class="span4 well">
           Tracks
        </div>
    </a>
</div>