.well-hover:hover 
{
	border:red;
}

.select option{
    text-transform:capitalize;
}

.productHead {
    height:60px;
}

.clickable {
    cursor:pointer;
}

footer {
    width:100%;
    height:25px;
    padding-top:20px;
    padding-bottom:20px;
    clear:both;
}

.pagination {
    clear: both;
}

.bordered {
    border: solid 1px gray;
}

.padded-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-right : 5px;
    padding-bottom:10px;
}
.capitalize {
    text-transform:capitalize;
}