@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="offset1">
        <div class="row">
           <div class="span2"> 
               <h2>Login</h2>
           </div>
           
        @Html.Partial("LoginPartial", new MappingSearch.Models.Account.LoginModel())
    <//div>